In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df = pd.read_csv("example.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,SMA30,SMA60,SMA120,cci,natr
0,2019-04-26,45.177502,45.222500,43.325001,44.522499,44.226086,86898800,45.560394,41.946467,40.473302,-282.202417,3.305042
1,2019-04-29,44.602501,45.112499,43.875000,44.832500,44.534031,39192000,45.639200,42.094343,40.393964,-196.012988,3.246230
2,2019-04-30,44.507500,45.507500,44.314999,45.250000,44.948753,36292000,45.738948,42.245079,40.324670,-123.531274,3.176046
3,2019-05-01,45.777500,46.202499,45.115002,45.117500,44.817131,35428000,45.778351,42.375222,40.260784,-72.689669,3.157666
4,2019-05-02,45.215000,46.217499,44.779999,45.797501,45.492599,39468400,45.851113,42.513439,40.203994,-52.067239,3.114287

In [3]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMA60,SMA120,cci,natr
count,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000
mean,176.043341,179.403991,172.580169,176.132074,175.920360,4.545078e+07,171.021893,165.691178,155.064281,26.100976,4.167500
std,112.467132,114.409978,110.217744,112.314820,112.357283,1.893118e+07,108.451228,103.456531,91.566976,107.554878,1.374431
min,33.977501,34.367500,33.150002,33.445000,33.260258,9.788400e+06,36.880207,38.921229,39.563432,-340.967996,2.029649
25%,91.516874,91.915623,87.991875,90.516249,90.266968,3.184130e+07,83.569845,74.659110,68.810736,-64.092941,3.157648
50%,150.910004,153.457497,148.178749,151.120003,150.982742,4.272305e+07,148.331403,144.788864,151.701553,44.789238,3.780224
75%,226.644997,230.475002,222.352501,227.189995,226.929192,5.573625e+07,225.846915,219.708964,212.100417,110.057293,4.955967
max,502.160004,502.660004,489.579987,493.549988,493.509338,1.543911e+08,456.824594,450.273509,424.754155,325.646981,10.597868

In [4]:
df.shape

(1138, 12)

In [5]:
df.drop(columns=['Date'], inplace=True)
df_x = df[[col for col in df.columns if col != 'Close']]
df_y = df[['Close']]

df_x = df_x.iloc[:-30].reset_index(drop=True)
df_y = df_y.iloc[30:].reset_index(drop=True)

df_x.shape, df_y.shape

((1108, 10), (1108, 1))

In [6]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

scaler_x = MinMaxScaler(feature_range=(0,1))
scaler_y = MinMaxScaler(feature_range=(0,1))

train_x = scaler_x.fit_transform(df_x)
train_y = scaler_y.fit_transform(df_y)

# Should be the smae shape as above
train_x.shape, train_y.shape

((1108, 10), (1108, 1))

In [7]:
train_x[:5]

array([[0.0239223 , 0.02317996, 0.02229257, 0.02382586, 0.53325699,
        0.02066985, 0.00738595, 0.00263104, 0.0881552 , 0.14885158],
       [0.02269414, 0.02294506, 0.02349758, 0.02449494, 0.2033406 ,
        0.02085751, 0.00774698, 0.00240162, 0.21744937, 0.14198759],
       [0.02249123, 0.02378855, 0.02446158, 0.02539602, 0.18328565,
        0.02109504, 0.008115  , 0.00220124, 0.32618037, 0.13379639],
       [0.02520385, 0.02527266, 0.02621432, 0.02511004, 0.17731066,
        0.02118886, 0.00843273, 0.00201651, 0.40244869, 0.13165128],
       [0.02400239, 0.02530469, 0.02548035, 0.02657766, 0.20525205,
        0.02136213, 0.00877018, 0.00185229, 0.43338474, 0.12658845]])

In [8]:
scaler_x.inverse_transform(train_x[:5]), scaler_y.inverse_transform(train_y[:5])

(array([[ 4.51775017e+01,  4.52224998e+01,  4.33250008e+01,
          4.42260857e+01,  8.68988000e+07,  4.55603943e+01,
          4.19464673e+01,  4.04733020e+01, -2.82202417e+02,
          3.30504235e+00],
        [ 4.46025009e+01,  4.51124992e+01,  4.38750000e+01,
          4.45340309e+01,  3.91920000e+07,  4.56392000e+01,
          4.20943430e+01,  4.03939637e+01, -1.96012988e+02,
          3.24623023e+00],
        [ 4.45074997e+01,  4.55074997e+01,  4.43149986e+01,
          4.49487534e+01,  3.62920000e+07,  4.57389483e+01,
          4.22450787e+01,  4.03246696e+01, -1.23531274e+02,
          3.17604618e+00],
        [ 4.57775002e+01,  4.62024994e+01,  4.51150017e+01,
          4.48171310e+01,  3.54280000e+07,  4.57783511e+01,
          4.23752216e+01,  4.02607842e+01, -7.26896691e+01,
          3.15766646e+00],
        [ 4.52150002e+01,  4.62174988e+01,  4.47799988e+01,
          4.54925995e+01,  3.94684000e+07,  4.58511133e+01,
          4.25134385e+01,  4.02039941e+01, -5.20672389e+01,
          3.11428702e+00]]),
 array([[37.10749817],
        [37.6875    ],
        [36.54999924],
        [37.06499863],
        [36.15999985]]))

In [9]:
df_x.head(), df_y.head()

(        Open       High        Low  Adj Close    Volume      SMA30      SMA60  \
 0  45.177502  45.222500  43.325001  44.226086  86898800  45.560394  41.946467
 1  44.602501  45.112499  43.875000  44.534031  39192000  45.639200  42.094343
 2  44.507500  45.507500  44.314999  44.948753  36292000  45.738948  42.245079
 3  45.777500  46.202499  45.115002  44.817131  35428000  45.778351  42.375222
 4  45.215000  46.217499  44.779999  45.492599  39468400  45.851113  42.513439

       SMA120         cci      natr
 0  40.473302 -282.202417  3.305042
 1  40.393964 -196.012988  3.246230
 2  40.324670 -123.531274  3.176046
 3  40.260784  -72.689669  3.157666
 4  40.203994  -52.067239  3.114287  ,
        Close
 0  37.107498
 1  37.687500
 2  36.549999
 3  37.064999
 4  36.160000)